[remote "philc"]
    url = https://github.com/philc/vimium.git
    fetch = +refs/heads/*:refs/remotes/philc/*
[remote "origin"]
    url = git@github.com:huangyingw/vimium.git
    fetch = +refs/heads/*:refs/remotes/origin/*
[push]
    remote = origin
[gsync]
    remote = philc
    branch = master
[merge]
    allow = true
[commit]
    message = n
[branch "dev"]
    remote = origin
    merge = refs/heads/dev
